
.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: $oscuraMadera;
    &-container{
        padding: 0 10px 0 10px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &-img{
        width: 80%;
        
        &:hover{
            cursor: pointer;
        }
        &-container{
            width: 17%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.Navbar{
    display: flex;
    width: 50%;
    
    &-link{
        text-decoration: none;
        color: rgba($claraMadera, 0.6);
        font-size: 14px;
        margin: 0 5px 0 5px;
        
        &:hover{
            cursor: pointer;
            color: rgba($claraMadera, 0.7)
        }
    }
    &-list{
        list-style-type: none;
        display: flex;
        margin: 0;
        
    }

}

.abrir-menu,
.cerrar-menu {
    display: none;
}
@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: rgba($claraMadera, 0.6);
        font-size: 27px;
        padding: 0;
        display: flex;
        justify-content: center;
        &:hover{
            color: $blanco;
        }
        
    }

    .cerrar-menu {
        color: rgba($claraMadera, 0.6);
        font-size: 30px;
        padding: 0;
        &:hover{
            color: $blanco;
        }
    }

    .Navbar {
        height: 100vb;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:flex-start;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #0a0a0a;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        padding-left: 0.5rem;
        padding-top: 0.9rem;
        padding-right:0.5rem ;
        z-index: 100;
        width: 180px;
        &.visible {
            opacity: 1;
            visibility: visible;
            
    
    
        }
        &-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-top: 1px solid $madera;
            border-bottom: 1px solid $madera;
            
            width: 100%;
            padding: 0;

            li{
                width: 100%;
                a{
                    padding: 3px;
                    color: rgba($claraMadera, 0.6); 
                    font-size: 11px;
                }
            }
            &-container{
                height: 90%;
                width: 100%;
                background-color: $oscuro;  //color interior donde esta el contenido
                
            }
        }
        
    }
    .header-img-container{
        width: 40%;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        
        &-content{
            display: none;
            position: relative;
            z-index: 1;
            transition: max-height 0.3s ease-out;
            overflow: hidden;
            max-height: 0;
    
            &.show {
                display: block;
                max-height: 500px;
                background-color: rgba($superOscuraMadera, 0.6); //background color de los elementos de sublista
                color: $madera;
            }
    
            a {
                border-top: 1px solid $madera;
                text-decoration: none;
                display: block;
                color: $madera;
    
                &:hover {
                    background-color: $madera;
                    color: $oscuro;
                }
            }
        }
        &-icon{
            color: $madera;
            border-left: 1px solid $madera;
            height: 100%;
            width: 15%;
            &:hover{
                color: $claraMadera;
                cursor: pointer;
            }
        }
    }
}